<%- include('../partials/header'); -%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<link rel="stylesheet" href="/css/auth.css">
<div class="signup-form">

    <form enctype="multipart/form-data" id="signup-form" action="/user/edit-profile/<%= user._id%>" method="post">
		<h2>Edit Profile</h2>
	<hr>
        <div class="form-group">
            <label for="name">Name:</label>
			<div class="input-group">
				<input type="text" class="form-control" name="name" placeholder="Username" value="<%= user.name%>" required="required" minlength="4" maxlength="90">
			</div>
        </div>
        <div class="form-group">
            <label for="name">Instagram Link:</label>
			<div class="input-group">
				<input type="text" class="form-control" name="instaLink" placeholder="Instagram Link" value="<%= user.instaLink%>" minlength="4" maxlength="900">
			</div>
        </div>
		<div class="form-group">
            <label for="name">Gender:</label>
			<div class="">
                <select class="form-control" name="gender" required >    
                <option value="<%= user.gender%>"><% if(user.gender){%> <%= user.gender%><%}else{ %> Default <%}%></option>          
                <option value="Male">Male</option>
                <option  value="Female">Female</option>
                <option  value="Other">Other</option>
            </select>
			</div>
        </div>
		<div class="form-group">
            <label for="name">Profile Picture:</label>
			<div class="input-group">

				<input type="file" class="form-control" name="userProfilePic" placeholder="Profile Pic">
			</div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg blue-backgroud">Edit Profile</button>
    </form>
</div>

<%- include('../partials/footer'); -%>