<%- include('../partials/header'); -%>
<title>Latest Hit Malayalam Movies List 2022 Check Now </title>
<meta name="description" content="New Best Malayalam Movies 2021-22 Release  in Theater Hotstar Netflix Full Check Now Films Cast & Crew Trailer Release date Story News Images">
<meta name="keywords" content="Upcomming Malayalam Movies,Latest Malayalam Movies, Malayalam Latest Release Movies, Malayalam New Movies, Malayalam Movies, Malayalam Movies Downlaod, Malayalam movies free, Malayalam Movies Hd"/>

<link rel="stylesheet" href="/css/movies-list.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

  <div class="other-sec">
    <table id="sample-table" style="width:100%;text-align:left">
      <thead>
        <tr>
          <th class="fst-table-header" style="width: 103px;">
            <h1>Malayalam</h1< /th>
          <th class="nd-table-header">
            <h1>Movies List</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <% malayalamMovies.forEach (function (m){%>
          <tr>
            <td class="td-class">
              <a href="/movie/<%= m._id  %>" title="<%= m.name %> Movie Details Page">
                <div>
                  <% if(m.moviePoster) {%> 
                     <img class="table-img lazy-photo" data-src="/<%= m.moviePoster %>" alt="<%= m.name %> Movie Poster">
                     <%}else{%>
                      <img class="table-img lazy-photo" data-src="/images/movies/id/<%= m._id  %>.jpg" alt="<%= m.name %>  Movie Poster">
                  <%}%>

                </div>
              </a>
            </td>
            <td class="td-class">
              <div class="movies-table">
                <div class="t-col"><i class="fa fa-star" aria-hidden="true"></i> <a href="/movie/<%= m._id %>">
                    <h2 title="<%= m.name %> Movie Page">
                      <%= m.name %>
                    </h2>
                  </a></div>
                <div class="t-col">
                  <h3>Cast :</h3>
                  <h6> <a href="/celebs/<%= m.actid1 %>" title="<%= m.actorname1 %> Actor Details Page">
                      <%= m.actorname1 %>,
                    </a><a href="/celebs/<%= m.actid2 %>" title="<%= m.actorname2 %> Actor Details Page">
                      <%= m.actorname2 %>
                    </a> </h6>
                </div>
                <div class="t-col">
                  <h3>Genre :</h3>
                  <h6>
                    <%= m.genre %>
                  </h6>
                </div>
                <div class="t-col">
                  <h5>Release Date :</h5>
                  <% if(m.releasedate) {%>
                    <p>
                      <%= m.releasedate %>
                    </p>
                    <%}else{%>
                      <p>Date Not Confirm</p>
                      <%}%>
                </div>

              </div>
            </td>
          </tr>
          <% });%>
      </tbody>
    </table>

  </div>


  <script>
    $(function () {
      $('#sample-table').DataTable();
    });
  </script>
  <%- include('../partials/footer'); -%>