<%- include('../partials/admin-header'); -%>

<title>Edit <%= movie.name %> movie -Dramalite</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/auth.css">
    <script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
    <div class="signup-form">
        <form enctype="multipart/form-data" id="signup-form" action="/movie/edit-movie/<%= movie._id %>" method="post">
            <h2>Edit Movie</h2>
            <hr>
            <div class="form-group">
                <label for="name">Movie Name:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" placeholder="Movie Name" required="required"
                        value="<%= movie.name %>">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Seo Name:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="engname" placeholder="Seo Name"
                        value="<%= movie.engname %>">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="name">Category</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="category" placeholder="category"
                        value="<%= movie.category %>">
                </div>
            </div> -->
            <div class="form-group">
                <label for="name">Category</label>
                <div class="input-group">
                    <select class="form-control" name="category" required>
                        <option value="<%= movie.category %>"><%= movie.category %></option>
                        <option value="Malayalam">Malayalam</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Telugu">Telugu</option>
                        <option value="Kannada">Kannada</option>
                        <option value="English">English</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Year:</label>
                <div class="input-group">
                    <input type="number" class="form-control" name="year" placeholder="Year">
                </div>
            </div>

            <div class="form-group">
                <label for="name">Release Date not date:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="releasedate" placeholder="Release Date"
                        value="<%= movie.releasedate %>">
                </div>
            </div>
            <div class="form-group">
                <label for="name">OTT Release Date:</label>
                <div class="input-group">
                    <input class="form-control" name="ottreleasedate" placeholder="Release Date" value="<%= movie.ottreleasedate %>">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Genre:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="genre" placeholder="genre" value="<%= movie.genre %>">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Duration:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="duration" placeholder="Duration"
                        value="<%= movie.duration %>">
                </div>
            </div>

            <div class="form-group">
                <label for="name">Director:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="director" placeholder="Director Name"
                        value="<%= movie.director %>">
                    <input type="text" class="form-control" name="directorlink" placeholder="Director Link"
                        value="<%= movie.directorlink %>">
                </div>
            </div>

            <div class="form-group">
                <label for="name">Wriiten:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="written" placeholder="Wriiten Name"
                        value="<%= movie.written %>">
                    <input type="text" class="form-control" name="writtenlink" placeholder="Written Link"
                        value="<%= movie.writtenlink %>">
                </div>
            </div>

            <div class="form-group">
                <label for="name">Producer:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="producedby" placeholder="Producer Name"
                        value="<%= movie.producedby %>">
                    <input type="text" class="form-control" name="producedbylink" placeholder="Producer Link"
                        value="<%= movie.producedbylink %>">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Youtube Trailer:</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="ytlink" placeholder="Producer Name"
                        value="<%= movie.ytlink %>">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Tags</label>
                <div class="cate-array">
                    <% for(var i=0; i<movie.tags.length; i++){%>
                        <div class="cate-div">
                            <input type="text" class="form-control" placeholder="Tag" name="tags"
                                value="<%= movie.tags[i] %>" />
                            <button class="btn btn-danger remove-btn m-2"><i class="fa-solid fa-trash"></i></button>
                        </div>
                        <%}%>
                </div>
            </div>
            <button id="add-label" class="btn btn-success mb-2">Add</button>
            <% if(movie.moviePoster){%>
                <div class="form-group">
                    <label for="name">Ott:</label>
                    <select class="form-control" name="ottName">
                        <% if(movie.whereToWatch.ottImg){%>
                            <option value="<%= movie.whereToWatch.ottName%>">
                                <%= movie.whereToWatch.ottName%>
                            </option>
                            <%}else{ %>
                                <option value=""></option> Default</option>
                                <%}%>
                                    <% for(var i=0; i<ott.length; i++){%>
                                        <option value="<%= ott[i].name %> ">
                                            <%= ott[i].name %>
                                        </option>
                                        <% } %>
                    </select>
                    <select class="form-control" name="ottImg" style="margin: 7px 0px;">
                        <% if(movie.whereToWatch.ottImg){%>
                            <option value="<%= movie.whereToWatch.ottImg%>">
                                <%= movie.whereToWatch.ottName%>
                            </option>
                            <%}else{ %>
                                <option value=""></option> Default</option>
                                <%}%>
                                    <% for(var i=0; i<ott.length; i++){%>
                                        <option value="<%= ott[i].img %> ">
                                            <%= ott[i].name %>
                                        </option>
                                        <% } %>
                    </select>
                    <div class="input-group">
                        <input type="text" class="form-control" name="ottUrl" placeholder="OTT url"
                            value="<%= movie.whereToWatch.ottUrl %>">
                    </div>
                </div>
                <% } %>
                    <div class="form-group">
                        <label for="name">Story:</label>
                        <div class="input-group">
                            <textarea name="story"><%= movie.story %></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Actor 1:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid1" placeholder="ID"
                                value="<%= movie.actid1 %>">
                            <input type="text" class="form-control" name="actorname1" placeholder="Name"
                                value="<%= movie.actorname1 %>">

                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg1" placeholder="Img Url"
                                value="<%= movie.actimg1 %>">
                            <input type="text" class="form-control" name="mvactorname1" placeholder="Mv Name"
                                value="<%= movie.mvactorname1 %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Actor 2:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid2" placeholder="ID"
                                value="<%= movie.actid2 %>">
                            <input type="text" class="form-control" name="actorname2" placeholder="Name"
                                value="<%= movie.actorname2 %>">
                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg2" placeholder="Img Url"
                                value="<%= movie.actimg2 %>">
                            <input type="text" class="form-control" name="mvactorname2" placeholder="Mv Name"
                                value="<%= movie.mvactorname2 %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Actor 3:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid3" placeholder="ID"
                                value="<%= movie.actid3 %>">
                            <input type="text" class="form-control" name="actorname3" placeholder="Name"
                                value="<%= movie.actorname3 %>">
                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg3" placeholder="Img Url"
                                value="<%= movie.actimg3 %>">
                            <input type="text" class="form-control" name="mvactorname3" placeholder="Mv Name"
                                value="<%= movie.mvactorname3 %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Actor 4:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid4" placeholder="ID"
                                value="<%= movie.actid4 %>">
                            <input type="text" class="form-control" name="actorname4" placeholder="Name"
                                value="<%= movie.actorname4 %>">

                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg4" placeholder="Img Url"
                                value="<%= movie.actimg4 %>">
                            <input type="text" class="form-control" name="mvactorname4" placeholder="Mv Name"
                                value="<%= movie.mvactorname4 %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Actor 5:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid5" placeholder="ID"
                                value="<%= movie.actid5 %>">
                            <input type="text" class="form-control" name="actorname5" placeholder="Name"
                                value="<%= movie.actorname5 %>">

                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg5" placeholder="Img Url"
                                value="<%= movie.actimg5 %>">
                            <input type="text" class="form-control" name="mvactorname5" placeholder="Mv Name"
                                value="<%= movie.mvactorname5 %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Actor 6:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid6" placeholder="ID"
                                value="<%= movie.actid6 %>">
                            <input type="text" class="form-control" name="actorname6" placeholder="Name"
                                value="<%= movie.actorname6 %>">

                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg6" placeholder="Img Url"
                                value="<%= movie.actimg6 %>">
                            <input type="text" class="form-control" name="mvactorname6" placeholder="Mv Name"
                                value="<%= movie.mvactorname6 %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Actor 7:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="actid7" placeholder="ID"
                                value="<%= movie.actid7 %>">
                            <input type="text" class="form-control" name="actorname7" placeholder="Name"
                                value="<%= movie.actorname7 %>">

                        </div>
                        <div class="input-group" style="margin: 5px 0px;">
                            <input type="text" class="form-control" name="actimg7" placeholder="Img Url"
                                value="<%= movie.actimg7 %>">
                            <input type="text" class="form-control" name="mvactorname7" placeholder="Mv Name"
                                value="<%= movie.mvactorname7 %>">
                        </div>
                    </div>
                    <div class="Images-1">
                        <img src="/<%= movie.moviePoster %>" alt="" srcset="">
                    </div>

                    <div class="form-group">
                        <label for="name">Movie Poster:</label>
                        <div class="input-group">

                            <input type="file" class="form-control" name="moviePoster" placeholder="moviePoster">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Images:</label>
                        <div class="input-group">
                            <input type="file" class="form-control" name="movieImages" placeholder="Images" multiple>
                        </div>
                    </div>
                    <div class="photos">
                        <div class="img">
                            <% for(var i=0; i<movie.images.length; i++){%>
                                <div class="Images-1">
                                    <img src="/<%= movie.images[i] %>" alt="" srcset="">
                                    <input type="text" name="actorImages" value="<%= movie.images[i] %>" hidden>
                                    <i class="fa-solid fa-rectangle-xmark remove-btn"></i>
                                    <!-- <a href="" class="remove-btn">R</a> -->
                                    <!-- <button class="btn btn-danger remove-btn m-2">Delete</button> -->
                                </div>
                                <% }%>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg blue-backgroud">Add Movie</button>
        </form>
    </div>
    =
    <script>
        CKEDITOR.replace('story');

        let addBtn = document.getElementById('add-label');
        let cateArray = document.querySelector('.cate-array');
        let CateDiv = document.querySelectorAll('.cate-div')[0];

        addBtn.addEventListener('click', function (e) {
            e.preventDefault()
            let value = CateDiv.cloneNode(true);
            let input = value.getElementsByTagName('input')[0];
            input.value = '';
            cateArray.appendChild(value);
        });
        $(document).on('click', '.remove-btn', function (e) {
            e.preventDefault();
            let rowItem = $(this).parent();
            $(rowItem).remove();
        })
        let addIngredientsBtn = document.getElementById('addIngredientsBtn');
        let ingredientList = document.querySelector('.ingredientList');
        let ingredeintDiv = document.querySelectorAll('.ingredeintDiv')[0];
        addIngredientsBtn.addEventListener('click', function () {
            let newIngredients = ingredeintDiv.cloneNode(true);
            let input = newIngredients.getElementsByTagName('input')[0];
            input.value = '';
            ingredientList.appendChild(newIngredients);
        });

        $(document).on('click', '.remove-btn', function (e) {
            e.preventDefault();
            let rowItem = $(this).parent();
            $(rowItem).remove();
        })
    </script>

    <%- include('../partials/footer'); -%>