<%- include('../partials/header'); -%>


<title><%= celebrity.actorname %> <%= celebrity.occupation %> Wiki, Age, Images, Movies list</title>
<meta name="description" content="<%= celebrity.biography %>">

<meta property="og:site_name" content="DramaLite.Com Actor Section ">
<meta property="og:url" content="https://dramalite.com/celebs/<%= celebrity._id %>">
<meta property="og:description" content="<%= celebrity.biography %>">
<meta property="og:type" content="video.movie">
<% if(celebrity.profilePic ) { %>
    <meta property="og:image" content="https://dramalite.com/public/images/actor/profilePic/<%= celebrity.profilePic %>.jpg">
<% }else { %>
    <meta property="og:image" content="https://dramalite.com/public/images/actor/id/<%= celebrity._id %>.jpg">
<% } %>
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />
<meta property="og:image:alt" content="<%= celebrity.actorname %>" />
<meta property="og:image:type" content="image/jpeg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/actor.css">

<style>
    .actor-sec-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .celeb-img{
        width: 100%;
        height: auto;
    }
    .celeb-img img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>
    <div class="actor-main">

        <div class="fst-sec">
            <div class="actor-sec-1">
                <div class="blue-header">
                    <h1>
                        <%= celebrity.actorname %>
                    </h1>
                </div>
                <div class="celeb-img">
                    <% if(celebrity.profilePic ) { %>
                        <img class="lazy-photo" data-src="/<%= celebrity.profilePic %>" alt=" <%= celebrity.actorname %> Profile"
                        srcset="">
                    <% }else { %>
                        <img class="lazy-photo" data-src="/images/actor/id/<%= celebrity._id %>.jpg" alt=" <%= celebrity.actorname %> Profile"
                        srcset="">
                    <% } %>
                </div>
            </div>
            <!-- <div class="actor-card">
                <div class="part-one">
                    <% if(celebrity.profilePic ) { %>
                        <img class="lazy-photo" data-src="/<%= celebrity.profilePic %>" alt=" <%= celebrity.actorname %> Profile"
                        srcset="">
                    <% }else { %>
                        <img class="lazy-photo" data-src="/images/actor/id/<%= celebrity._id %>.jpg" alt=" <%= celebrity.actorname %> Profile"
                        srcset="">
                    <% } %>
                   
                </div>
                <div class="part-two">
                    <div class="name-part">
                        <h1>
                            <%= celebrity.actorname %>
                        </h1>
                        <p>
                            <%= celebrity.occupation %>
                        </p>
                    </div>
                    <div class="center-part">
                        <p>Age:</p><span id="age"></span>
                    </div>
                    <div class="button-part">
                        <a  href="#images-sec" class="btn btn-outline-primary me-1 flex-grow-1">Images</a>
                        <a href="#movies-sec" class="btn btn-primary flex-grow-1">Movies</a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="scd-sec">

            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2>Name</h2>
                </div>
                <div class="dettails">
                    <h3>
                        <%= celebrity.actorname %>
                    </h3>
                </div>
            </div>
            <hr>
            <% if( celebrity.nickname) { %>
                <div class="actor-dettails">
                    <div class="dettails-name">
                        <h2>Nick Name</h2>
                    </div>
                    <div class="dettails">
                        <h3> <%- celebrity.nickname%></h3>
                    </div>
                </div>
                <hr>
                <% } %>
                <% if( celebrity.nationality) { %>
                    <div class="actor-dettails">
                        <div class="dettails-name">
                            <h2>Nationality</h2>
                        </div>
                        <div class="dettails">
                            <h3> <%- celebrity.nationality%></h3>
                        </div>
                    </div>
                    <hr>
                <% } %>
            <% if( celebrity.age) { %>
            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2>Age</h2>
                </div>
                <div class="dettails">
                    <h3 id="ages"> </h3>
                </div>
            </div>
            <hr>
            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2>Date of Birth</h2>
                </div>
                <div class="dettails">
                    <h3 id="born"><%- celebrity.age%></h3>
                </div>
            </div>

            <hr>
            <% } %>
            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2>Occupation</h2>
                </div>
                <div class="dettails">
                    <h3>
                        <%= celebrity.occupation %>
                    </h3>
                </div>
            </div>
            <hr>
            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2>Language</h2>
                </div>
                <div class="dettails">
                    <h3>
                        <%= celebrity.language %>
                    </h3>
                </div>
            </div>
            <hr>
            <% if( celebrity.hometown) { %>
                <div class="actor-dettails">
                    <div class="dettails-name">
                        <h2>Home Town</h2>
                    </div>
                    <div class="dettails">
                        <h3> <%- celebrity.hometown%></h3>
                    </div>
                </div>
                <hr>
            <% } %>
            <div class="about-dettails">
                <div class="dettails-name">
                    <h2>About</h2>
                </div>
                <div class="dettails">
                    <p class="cutoff-text">
                        <%- celebrity.biography %>
                    </p>
                    <!-- <input class="expand-btn" type="checkbox"> -->
                </div>
            </div>
            <% if( celebrity.instalink) { %>
            <hr>
            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2><i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i></h2>
                </div>
                <div class="dettails">
                <a href="<%= celebrity.instalink %>"><%= celebrity.instalink %></a>
                </div>
            </div>
            <% } %>
            <% if( celebrity.twitlink) { %>
            <hr>
            <div class="actor-dettails">
                <div class="dettails-name">
                    <h2><i class="fab fa-twitter fa-lg" style="color: #55acee;"></i></h2>
                </div>
                <div class="dettails">
                    <a href="<%= celebrity.twitlink %>"><%= celebrity.twitlink %></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="img-sec" id="images-sec">
        <div class="left-blue-header">
            <h2>Images</h2>
            <% if(celebrity.images.length >6) { %> <a href="/celebs/all-images/<%= celebrity._id%>">View all</a> <% } %>
        </div>
        <div class="images">
            <% if(celebrity.images.length >0) { %>
                <% var length= celebrity.images.length >6?6:celebrity.images.length %>
                <% for(var i=0; i<length; i++){%>
            <div class="image">
                <a href="/image/download?imgUrl=<%= celebrity.images[i] %>"><img data-src="/<%= celebrity.images[i] %>" alt="<%= celebrity.actorname %> <%= celebrity.images[i] %>" class="lazy-photo"></a>
            </div>
            <% } %>
            <% }else{ %>
                <p>Images not uploaded</p>
            <% } %>
        </div>
    </div>
   

    <div class="img-sec" id="movies-sec">
        <div class="left-blue-header">
            <h2>Movies List</h2>
            <a href="">View all</a>
        </div>
        <div class="movies-list">
            <% for(var i=0; i<moviesList.length; i++){%>
                
                <div class="movie">
                    <a href="/movie/<%= moviesList[i]._id %> " class="movie-body">
                        <div class="movie-img">
                            <% if(moviesList[i].moviePoster) { %>
                                <img class="lazy-photo" data-src="/<%= moviesList[i].moviePoster %>"
                                    alt=" <%= moviesList[i].name %> Poster" srcset="">
                                <% }else { %>
                                    <img class="lazy-photo"
                                        data-src="/images/movies/id/<%= moviesList[i]._id  %>.jpg"
                                        alt=" <%= moviesList[i].name %> poster" srcset="">
                            <% } %>
                        </div>
                        <div class="movie-text">
                            <h3>
                                <%= moviesList[i].name %>
                            </h3>
                            <p>
                                <%= moviesList[i].year %>
                            </p>
                        </div>
                    </a>
                </div>
             <% }%>
        </div>
    </div>
    <script>

        //BORN DATE CALCULATE
        let dob = '<%- celebrity.age%>'
        // function convert(str) {

        //     var date = new Date(str),
        //         mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        //         day = ("0" + date.getDate()).slice(-2);
        //     return [date.getFullYear(), mnth, day].join("-");
        // }
        // let born = convert(dob)
        // let heading = document
        //     .getElementById('born');
        // heading.innerText = born;


        function ageCalculator(dob) {
            dob = new Date(dob)
            if (dob == null || dob == '') {
                document.getElementById("age").innerHTML = "n/a";
                return false;
            } else {

                //calculate month difference from current date in time  
                var month_diff = Date.now() - dob.getTime();

                //convert the calculated difference in date format  
                var age_dt = new Date(month_diff);

                //extract year from date      
                var year = age_dt.getUTCFullYear();

                //now calculate the age of the user  
                var age = Math.abs(year - 1970);

                //display the calculated age  
                document.getElementById("ages").innerHTML = age+' years'
                return document.getElementById("age").innerHTML = age 
            }

        }
        ageCalculator(dob)

    </script>

    <%- include('../partials/footer'); -%>